.tamanho {
  font-size: 150pt;
}

#carouselArrow {
  border: 5px solid white;
  border-radius: 50%;
  background-color: white;
  color: #fc4444;
  font-size: 25px;
}


.carousel-indicators li {
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

#minSize{
  min-height: 250px;
  max-height: 250px;
}

.card{
  border: 1px solid red;
}

.carousel-indicators .active {
  background-color: #fc4444;
}

#bg {
  background-color : #F5E1B7;
}

.pb-5{
  padding-top: 50px ;
  padding-left: 0%;
  padding-right: 0%;
  }
.background-img
{
  background-image:url("https://cdn.discordapp.com/attachments/976239165073141780/997122589589782549/unknown.png");
}
#vdc{
  margin-left:680px;
}

