<div class="linhaPadding">
</div>
<footer class="page-footer fixed-bottom text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
        <section class="mb-4">

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-google" aria-hidden="true"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-github-square" aria-hidden="true"></i></a>

        </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://github.com/Tickets-for-Snacks">Ticket for Snacks</a>
    </div>
</footer>
