ul.social-network {
  list-style: nome;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa-github {
  font-size: 45pt;
  color: black;
  margin-bottom: 50px;
}

.fa{
  width: 32px;
  height: 32px;
}

#ulPaddingTop{
  padding-top: 220px !important;
}

#bgFooter{
  background-color:#f4e4b4 ;
}

#pixelsListaUm{
  left: 45px;
}

#pixelsListaDois{
  top: 50px;
  background-color:#f4e4b4
}

#pixelsListaTres{
  right: 45px;
}
