<div class="container pt-5">

  <div class="row">

    <div class="col-md-12 mb-4 text-center">
      <hr>
      <h1 class="font-weight-bold my-2">{{produto.nomeTicket}}</h1>
    </div>
  </div>

  <div class="row  ">

    <div class="col-md-6 ">

      <img class="mt-4" src="{{produto.foto}}" (error)="verificaImagem($event)" alt="" width="450px" height="350px" >

    </div>

    <div class="col-md-6 mt-5">

      <h6>Vendido por: {{produto.usuarios.nome}} </h6>
      <div class="d-inline-flex"><h1>R$ {{produto.valorTicket-produto.valorTicket*0.05}}</h1> <button data-toggle="modal" data-target="#comprar" class="ml-5 px-4 rounded-pill text-white" ><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Comprar</button></div> <br>

      <div class="d-inline-flex mt-3" ><h6>À vista no PIX com até </h6> <h6 class="ml-1 font-weight-bold" > 5% OFF</h6> </div> <br>

      <small class="font-weight-bold">R$ {{produto.valorTicket}}</small>
      <h6>Em até 10x de R$ {{produto.valorTicket/10}} sem juros no cartão</h6>
      <h6> Ou em 1x no cartão com até 5% OFF</h6>

      <a class="text-muted">Ver mais opções de pagamento</a>

      <h5 class="my-3" ><i class="fa fa-ticket mr-3" aria-hidden="true"></i>Outros Tickets Similares</h5>

      <div *ngFor="let item of listaProdutos | slice :0:5" class="card d-inline-flex mx-1 " >
        <a href="" [routerLink]="['/pag-ticket', item.id]" (click)="findByIdProduto(item.id) ">
        <img src="{{item.foto}}" (error)="verificaImagem($event)" class="card-img-top" alt="..." style="min-width: 75px;max-width: 75px; min-height: 75px; max-height: 75px">
      </a>
    </div>



  </div>

</div>

<!-- Modal Comprar -->
<div class="modal fade" id="comprar" tabindex="-1" role="dialog" aria-labelledby="adicionarTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adicionarLongTitle">Compra de Ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <h1 class="mb-3 text-center mb-4">Ticket</h1>
        </div>
        <div class="form-group">
          <label for=""><h2>Ticket: {{produto.nomeTicket}}</h2></label>
        </div>
        <div class="form-group">
          <label for=""><h3>R$ {{produto.valorTicket}} reais</h3> </label>
        </div>
        <div class="form-group">
          <label for=""><h3>Data do Ticket: {{produto.dataHoraTicket}}</h3></label>
        </div>
        <div class="form-group">
          <label for=""><h3>Categoria do Ticket: {{produto.categorias?.descricaoCategoria}}</h3></label>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill px-4" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success rounded-pill px-4" data-dismiss="modal" (click)='comprar()'>Comprar Ticket</button>
      </div>
    </div>
  </div>
</div>
