<div class="container pt-5">
  <div class="row">

    <div class="col-md-12 d-flex justify-content-center">
      <i class="fa fa-ticket fs-100" aria-hidden="true"></i>
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
      <h1>Categorias</h1>
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
      <div class="form-group">
        <i class="fa fa-search btn btn-secondary" aria-hidden="true"></i>
        <input class="pr-5 pl-5 pt-2 pb-2 rounded-pill" type="text" placeholder="Pesquise uma categoria">
        <a class="btn btn-secondary" routerLink="/categoria-edit"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </div>
    </div>

    <div *ngFor="let item of listaCategorias">
      <div class="col-md-12 mt-3 mb-3">
        <button id="selected" class="btn btn-secondary rounded-pill pr-5 pl-5 mr-3">{{item.descricaoCategoria}}</button>
      </div>
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-3 mb-3 mt-5 mb-5">

      <div class="row">
        <div *ngFor="let number of listaProdutos" class="col-md-4 mb-3">
          <div class="card">
            <img class="img-fluid" alt="100%x280" src="{{number.foto}}">
            <div class="card-body">
              <h4 class="card-title">{{number.nomeTicket}}</h4>
              <p class="card-text">{{number.descricaoTicket}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-flex justify-content-center mb-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


  </div>
</div>
