<div class="container pt-5">
  <div class="row">

    <div class="col-md-12 d-flex justify-content-center">
      <i class="fa fa-ticket fs-100" aria-hidden="true"></i>
    </div>

    <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
      <h1 class="text-danger">Categorias</h1>
    </div>


    <div class="col-md-12 d-flex justify-content-center mt-3 mb-3">
      <div class="form-group d-flex flex-nowrap bd-highlight d-flex justify-content-center ">
        <div class="order-3 p-2 bd-highlight"><i  class="fa fa-search" aria-hidden="true"></i></div>
      <input class="pr-5 pl-5 pt-2 pb-2 rounded-pill order-2 p-2 bd-highlight d-flex justify-content-center" type="text" placeholder= "Pesquise uma categoria">

      </div>
      </div>

    <div  class="col-md-12 d-flex justify-content-center mt-3 mb-3">
      <button *ngFor="let item of listaCategorias" id="selected" class="btn btn-danger rounded-pill pr-5 pl-5 mr-3">{{item.descricaoCategoria}}</button>
    </div>


    <div class="col-md-12">

      <div class="row">
        <div *ngFor="let number of listaProdutos" class="col-md-3 mb-3 d-flex align-items-stretch">

          <a class="text-decoration-none text-primary" [routerLink]="['/pag-ticket', number.id]">
            <div class="card borderSolid">
              <img class="img-fluid" alt="100%x280" src="{{number.foto}}" (error)="verificaImagem($event)" id="minSize">
              <div class="card-body" id="minSize">

                <h4 *ngIf="number.nomeTicket.length >= 12" class="card-title">{{number.nomeTicket.slice(0,12)}}</h4>
                <h4 *ngIf="number.nomeTicket.length < 12" class="card-title">{{number.nomeTicket}}</h4>

                <p class="card-text">Preço: R${{number.valorTicket}}</p>
                <small class="card-text">{{number.descricaoTicket}}</small><br>
                <small class="card-text">{{number.categorias.descricaoCategoria}}</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-flex justify-content-center mb-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


  </div>
</div>
