/* You can add global styles to this file, and also import other style files */
#paddingCenterTop{
  padding-top: 100px;
}

#imgbackground{
  background-color: #f4e4b4;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

h1{
  color: #7E0707;
  font-family: Lilita One;
}

#minSize{
  min-height: 250px;
  max-height: 250px;
}


