<nav class="navbar navbar-expand-lg navbar-light bg-light" id="imgbg">
  <img src="../../assets/img/macanzinha.png" width="50" height="50" class="d-inline-block align-top" alt="" />
  <h4 class="mr-auto pr-5 pt-1" id="fontLetra">Ticket For Snacks</h4>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

  <ul class="navbar-nav ml-auto" id="navbarSupportedContent">
    <li class="nav-item">
      <a class="nav-link pr-4" id="hoverzinho" href="#" routerLink="/home" style="color: #074D27;">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-4" id="hoverzinho" href="#" routerLink="/product" style="color: #074D27;">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-4" id="hoverzinho" href="#" routerLink="/aboutUs" style="color: #074D27;">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pr-4" id="hoverzinho" href="#" routerLink="/contact" style="color: #074D27;">Contato</a>
    </li>
  </ul>



    <li class="navbar-nav nav-item mr-4">
      <a class="nav-link" id="hoverzinho" href="#" routerLink="/login" style="color: #7E0707;">Entrar</a>
    </li>
    <li class="navbar-nav nav-item mr-4">
      <a class="nav-link" id="hoverzinho" href="#" routerLink="/register" style="color: #7E0707;">Cadastre-se</a>
    </li>
  </div>
</nav>
