input{
  border-radius: 500px;
  padding-right: auto;
}
select{
  border-radius: 500px;
}

#imgbg{
  background-image: url('https://cdn.discordapp.com/attachments/976239165073141780/993573786140016760/unknown.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

#bgRegister{
  background-color:#f4e4b494 !important;
}

label{
  font-style: oblique;
  font-weight: 700;
}
